html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  background: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1132px;
  margin: 0 auto;
}

.header {
  background: #F7F7F9;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 12px;
}

.menu__item {
  display: inline-block;
  margin-right: 26px;
  color: #919191;
}

.menu__item:hover {
  color: grey;
}

.header__auth {
  display: flex;
  justify-content: space-between;
}

.header__auth-item {
  color: #1D1A1A;
}

.header__auth-item:hover {
  color: rgb(117, 97, 97);
}

.header__auth-item+.header__auth-item {
  display: inline-block;
  margin-left: 19px;
}

.info {
  padding: 25px 0;
  border-bottom: 1px solid #EFEFEF;
}

.info__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  display: inline-block;
  width: 130px;
  font-size: 16px;
  color: #1D1A1A;
  text-transform: uppercase;
}

.phone:hover {
  color: rgb(117, 97, 97);
}

.info__social {
  width: 71px;
}

.info__social-link {
  display: inline-block;
  margin-right: 5px;
}

.info__search {
  width: 421px;
  height: 40px;
  background: #EEEEEE;
  border: 1px solid transparent;
  background-image: url('../images/searchicon.png');
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: right+5px center;
  border-radius: 2px;
}

.info__search:active,
.info__search:hover,
.info__search:focus {
  outline: 0;
  outline-offset: 0;
}

.info__currency {
  display: flex;
  width: 119px;
}

.info__text {
  font-size: 13px;
  font-weight: 500;
  color: #1D1A1A;
  padding-right: 30px;
  transform: translateY(10%);
}

.info__select {
  width: 76px;
  height: 30px;
  background: #F7F7F7;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  font-size: 11px;
  cursor: pointer;
}

.info__select:focus {
  outline: none;
}

.categories {
  padding: 31px 0 39px 25px;
  text-transform: uppercase;
  border-bottom: 1px solid #EFEFEF;
  text-align: center;
}

.categories__list {
  display: flex;
  align-items: center;
}

.categories__list-item {
  margin-right: 50px;
}

.categories__list-link:hover {
  color: grey;
}

.categories__list-link {
  font-size: 15px;
  color: #1D1A1A;
}

.categories__list-link.new {
  color: #30A74B;
}

.categories__list-link.new:hover {
  color: green;
}

.categories__list-link.sale {
  color: #FF0000;
}

.categories__list-link.sale:hover {
  color: rgb(184, 50, 50);
}

.product {
  margin-bottom: 30px;
}

.product-top__inner {
  padding-top: 22px;
  padding-bottom: 45px;
  border-bottom: 1px solid #EFEFEF;
}

.product-top__breadcrumbs {
  margin-bottom: 5px;
}

.product-top__list {
  display: flex;
  font-size: 12px;
}

.product-top__list-item {
  margin-right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-top__list-item+.product-top__list-item ::before {
  content: '';
  background: #B6B5B5;
  display: block;
  width: 4px;
  height: 1px;
  position: absolute;
  bottom: 50%;
  left: -13px;
}

.product-top__list-link {
  color: #B6B5B5;
}

.product-top__list-link.underline {
  border-bottom: 1px solid #B6B5B5;
}

.product-top__title {
  color: #383838;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
}

.product__inner {
  display: flex;
  flex-direction: row;
  border: 1px solid #B6B5B5;
}

.product__overview {
  min-width: 533px;
  max-width: 535px;
  border-right: 1px solid #F2F2F2;
}

.product__overview-inner {
  position: relative;
}

.pin {
  position: absolute;
  top: 25px;
  left: 25px;
}

.product__big-img {
  display: block;
  margin: 10px auto 0 auto;
  padding-top: 40px;
}

.product__overview-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 56px;
}

.product__overview-link {
  display: inline-block;
}

.product__overview-link.link-left {
  margin-left: 10px;
}

.product__overview-link.link-right {
  margin-right: 10px;
}

.product__slider {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 532px;
}

.left-arrow {
  width: 29px;
  height: 29px;
  background: url("../images/arrow-left.svg") no-repeat;
  background-size: 29px 29px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 50%;
}

.right-arrow {
  width: 29px;
  height: 29px;
  background: url("../images/arrow-right.svg") no-repeat;
  background-size: 29px 29px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50%;
}

.left-arrow:hover,
.right-arrow:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product__slider-item {
  margin-right: 12px;
  cursor: pointer;
}

.product__link+.product__link {
  margin-left: 14px;
}

.product__slider-item:hover {
  border: 2px solid #00B8BB;
}

.product__slider-item>.active-img:hover {
  border: none
}

.active-img {
  border: 2px solid #00B8BB;
}

.product__details {
  min-width: 600px;
}

.product__actions {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border-bottom: 1px solid #B6B5B5;
}

.product__actions-row {
  font-size: 11px;
  line-height: 0px;
  color: #6D6D6D;
}

.product__action-1 {
  text-align: center;
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  cursor: pointer;
  background-image: url('../images/delay.svg');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left center;
}

.product__action-2 {
  cursor: pointer;
  text-align: center;
  width: 95px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  background-image: url('../images/compare.svg');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left center;
}

.product__action-1:hover,
.product__action-2:hover {
  background: rgba(51, 46, 46, 0.2);
}

.product__about {
  padding: 26px 15px 20px 33px;
  border-bottom: 1px solid #E5E5E5;
}

.product__about-inner {
  display: flex;
}

.product__about-left {
  width: 318px;
}

.product__price {
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  color: #1D1A1A;
}

.product__form {
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 15px;
  color: #6D6D6D;
  position: relative;
}

.checkbox__input {
  appearance: none;
  position: absolute;
  top: -11px;
  left: -18px;
  width: 230px;
  height: 31px;
  cursor: pointer;
}

.checkbox__input:focus {
  outline: none;
}

.checkbox__label {
  padding-left: 25px;
  cursor: pointer;
}

.checkbox__label::before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  border: 1px solid #B6B5B5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkbox__label::after {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background: url("../images/checkbox.svg") no-repeat;
  background-size: 15px 15px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 20;
}

.checkbox__input:checked+.checkbox__label::after {
  opacity: 1;
}

.product__rating-mini {
  display: inline-block;
  font-size: 0;
}

.product__rating-mini span {
  padding: 0;
  font-size: 32px;
  line-height: 1;
  color: lightgrey;
}

.product__rating-mini span:hover {
  color: gold;
  cursor: pointer;
}

.product__rating-mini>span:before {
  content: '★';
}

.product__bottom-text {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: #888888;
  margin-top: 300px;
}

.product__about-right {
  width: 342px;
}

.product__color {
  max-width: 200px;
  margin-bottom: 15px;
}

.product__color-text {
  color: #383838;
}

.product__color-items {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  margin-top: 3px;
}

.product__color-item {
  padding: 8px 10px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  margin-right: 6px;
  margin-bottom: 6px;
  color: #373737;
  transition: all .5s;
}

.product__color-item:hover {
  color: #FFFFFF;
  background: #00C7C8;
}

.active {
  color: #FFFFFF;
  background: #00C7C8;
  border-radius: 2px;
}

.product__size {
  max-width: 230px;
  margin-bottom: 15px;
}

.product__size-text {
  color: #383838;
}

.product__size-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  margin-bottom: 6px;
}

.product__size-item {
  padding: 8px 11px;
  margin-right: 6px;
  margin-bottom: 6px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #373737;
  transition: all .5s;
}

.product__size-item:hover {
  color: #FFFFFF;
  background: #00C7C8;
}

.product__size-item.active {
  color: #FFFFFF;
}

.product__length {
  background: #F6F6F6;
  width: 135px;
  margin-bottom: 5px;
}

.product__length-text {
  font-size: 12px;
  line-height: 18px;
  color: #888888;
}

.product__length-text span {
  color: #383838;
}

.product__choose {
  margin-bottom: 17px;
}

.product__choose-link {
  font-size: 12px;
  line-height: 18px;
  padding-left: 24px;
  color: #00C7C8;
  text-decoration: underline;
  text-decoration-style: dotted;
  position: relative;
}

.product__choose-link::before {
  content: "";
  height: 16px;
  width: 15px;
  display: block;
  position: absolute;
  background: url("../images/size.svg") no-repeat;
  background-size: 16px 15px;
  left: 0;
  top: 0;
}

.product__add {
  display: flex;
  width: 254px;
  max-height: 37px;
  margin-bottom: 5px;
}

.product__btn-group {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  margin-right: 15px;
}

.product__btn-group button {
  padding: 10px 13.5px;
  background: rgba(0, 0, 0, 0.0001);
}

.product__btn-group button:focus {
  outline: none;
}

.product__btn-1:hover,
.product__btn-2:hover {
  background: lightgray;
}

.product__btn-1 {
  cursor: pointer;
  border: transparent;
  border-right: 1px solid #E5E5E5;
  border-radius: 2px;
}

.product__btn-2 {
  cursor: pointer;
  border: transparent;
  border-left: 1px solid #E5E5E5;
  border-radius: 2px;
}

.product__num {
  padding: 8px 27px;
  background: #F7F7F7;
}

.product__order {
  width: 118px;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: transparent;
  background: #00CCCF;
  border-radius: 2px;
  opacity: 0.4;
  cursor: pointer;
  transition: all .5s;
}

.product__order:hover {
  opacity: 1;
}

.product__order:focus {
  outline: none;
}

.product__bottom-descr {
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  color: #888888;
}

.product__share {
  padding: 22px 0 29px 30px;
}

.product__share-btn {
  text-align: center;
  width: 107px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #E5E5E5;
  color: #6D6D6D;
  border-radius: 2px;
  cursor: pointer;
  transition: all .5s;
}

.product__share-btn:hover {
  background: rgba(51, 46, 46, 0.2);
}

.product__share-btn:focus {
  outline: none;
}

.product-bottom {
  margin-bottom: 103px;
}

.product-bottom__buttons-list {
  display: flex;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 5px;
}

.product-bottom__list-item {
  display: inline-block;
  padding: 13px 20px;
  background: #F7F7F7;
  border: 1px solid #E5E5E5;
  border-radius: 0px;
  margin-right: 10px;
  color: #6D6D6D;
  cursor: pointer;
}

.product-bottom__list-link {
  color: inherit;
}

.product-bottom__list-item:hover {
  background: #FFFFFF;
  border: 1px solid #2AC1C8;
  border-radius: 0px;
  color: #00B8BB;
}

.product-bottom__list-item.active {
  background: #FFFFFF;
  border: 1px solid #2AC1C8;
  border-radius: 0px;
}

.product-bottom__list-item.active>.product-bottom__list-link {
  color: #00B8BB;
}

.product-bottom__details {
  display: flex;
  padding: 36px 86px 36px 0;
}

.product-bottom__details-left {
  padding-left: 15px;
  width: 565px;
}

.product-bottom__details-left span {
  font-size: 13px;
  line-height: 26px;
  color: #555555;
}

.product-bottom__details-list {
  list-style: initial;
  color: #00CCCF;
}

.product-bottom__details-list-item {
  margin-bottom: 4px;
}

.product-bottom__details-list-item-span {
  display: block;
  position: relative;
}

.product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
  content: "";
  width: 430px;
  height: 1px;
  display: block;
  border: 1px dashed #ECECEC;
  position: absolute;
  top: 50%;
  left: 45px;
}

.product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
  content: "";
  width: 411px;
  height: 1px;
  display: block;
  border: 1px dashed #ECECEC;
  position: absolute;
  top: 50%;
  left: 35px;
}

.product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
  content: "";
  width: 438px;
  height: 1px;
  display: block;
  border: 1px dashed #ECECEC;
  position: absolute;
  top: 50%;
  left: 65px;
}

.product-bottom__details-list-item-span span {
  position: absolute;
  right: 0;
}

.product-bottom__details-right {
  margin-left: 30px;
}

.offers__inner {
  padding: 0 0 111px 26px;
}

.offers__title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  border-bottom: 1px solid #2AC1C8;
  width: 230px;
}

.offers__slider {
  display: flex;
  margin-top: 45px;
  margin-right: 20px;
}

.offers__slider-item {
  display: flex;
  min-height: 338px;
  padding: 25px;
  margin-right: 20px;
}

.offers__slider-item:hover {
  cursor: pointer;
  border: 0 solid transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.offers__slider-item-image {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.offers__slider-item-image img {
  display: block;
  min-height: 170px;
  overflow: hidden;
  margin: 0 auto;
}

.offers__slider-item-title {
  height: 60px;
  margin-bottom: 20px;
}

.offers__slider-item-title a {
  font-size: 14px;
  line-height: 20px;
  color: #00B8BB;
}

.offers__slider-item-form {
  font-size: 12px;
  line-height: 15px;
  color: #6D6D6D;
  margin-bottom: 9px;
}

.offers__slider-item-price {
  font-size: 15px;
  line-height: 15px;
  color: #1D1A1A;
}

.offers__slider-item-form {
  position: relative;
}

.offers__slider-item-checkbox-input {
  appearance: none;
  position: absolute;
  top: 0;
  left: -10px;
  width: 150px;
  height: 20px;
}

.offers__slider-item-checkbox-input:hover {
  cursor: pointer;
}

.offers__slider-item-checkbox-input:focus {
  outline: none;
}

.offers__slider-item-checkbox-label::before {
  content: "";
  display: block;
  width: 12px;
  height: 11px;
  border: 1px solid #6D6D6D;
  position: absolute;
  transform: translateY(1px);
  z-index: 1;
}

.offers__slider-item-checkbox-label::after {
  content: "";
  display: block;
  width: 12px;
  height: 11px;
  background: url('../images/checkbox_green.svg') no-repeat;
  background-size: 12px 11px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 2;
}

.offers__slider-item-checkbox-input:checked+.offers__slider-item-checkbox-label::after {
  opacity: 1;
}

.offers__slider-item-checkbox-label::before:hover {
  cursor: pointer;
}

.offers__slider-item-checkbox-label {
  padding-left: 15px;
}

.slick-dots {
  display: flex;
}

.slick-dots button {
  border-radius: 50%;
  cursor: pointer;
  width: 29px;
  height: 29px;
  background: rgba(0, 0, 0, 0.0001);
  font-size: 0;
  border: none;
  outline: none;
}

.slick-dots button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slick-dots li:nth-child(1) button {
  background: url("../images/arrow-left.svg") no-repeat;
  background-size: 29px 29px;
}

.slick-dots li:nth-child(2) button {
  background: url("../images/arrow-right.svg") no-repeat;
  background-size: 29px 29px;
}

.slick-dots li {
  margin-left: 10px;
}

.product__images {
  padding-bottom: 5px;
}

.product__images>img {
  max-width: 345px;
  max-height: 385px;
  display: none;
}

.product__images .active-big-img {
  display: block;
}

.icons-right {
  height: 201px;
  width: 67px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 180px;
  right: 0;
}

.icons-right div {
  width: 67px;
  height: 67px;
  background: #E3E3E3;
  margin-bottom: 2px;
  border-radius: 2px 0px 0px 2px;
}

.icons-right div:hover {
  background: lightgray;
}

.icons-right__cart img,
.icons-right__heart img,
.icons-right__ratings img {
  display: block;
  margin: 0 auto;
  transform: translateY(-3px);
  transform: translateX(-3px);
}

.icons-right__cart a,
.icons-right__heart a,
.icons-right__ratings a {
  display: inline-block;
  padding: 27px;
}

.info__buttons {
  display: none;
}

.info__btn-burger {
  display: none;
}

.info__click-menu {
  display: none;
}

@media(max-width: 1300px) {
  .slick-dots li {
    margin-left: 0px;
  }
  .slick-dots {
    margin-right: 50px;
  }
}

@media(max-width: 1180px) {
  .info__currency {
    padding-right: 10px;
  }
  .info__text {
    padding-right: 10px;
  }
  .header__inner {
    padding: 10px 15px;
  }
  .product {
    padding: 0 25px;
  }
  .product__overview {
    min-width: 455px;
  }
  .product__details {
    max-width: 655px;
  }
  .product__btn-group {
    margin-right: 7px;
  }
  .product__add {
    width: 240px;
  }
  .product__num {
    padding: 6px 20px;
  }
  .product__btn-group button {
    padding: 10px 9.5px;
  }
  .product-bottom__inner {
    padding: 0 15px;
  }
  .product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
    width: 350px;
  }
  .product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
    width: 350px;
  }
  .product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
    width: 350px;
  }
}

@media(max-width: 1140px) {
  .product-top__inner {
    padding: 2px 15px 45px 15px;
  }
}

@media(max-width: 1122px) {
  .product__details {
    min-width: 400px;
  }
  .product__price {
    font-size: 25px;
  }
  .checkbox__label {
    font-size: 12px;
    padding-left: 18px;
  }
  .product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
    width: 250px;
  }
  .product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
    width: 250px;
  }
  .product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
    width: 250px;
  }
}

@media(max-width: 1010px) {
  .categories__list-item {
    margin-right: 40px;
  }
  .product__about-right {
    width: auto;
  }
  .product__about {
    padding: 18px 5px 20px 7px;
  }
  .product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
    width: 220px;
  }
  .product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
    width: 220px;
  }
  .product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
    width: 220px;
  }
}

@media(max-width: 975px) {
  .info__search {
    width: 350px;
  }
  .info__inner {
    padding: 0 15px;
  }
  .categories__list-item {
    margin-right: 30px;
  }
  .categories__list-link {
    font-size: 14px;
  }
  .product-top__title {
    font-size: 30px;
  }
  .product-top__list {
    font-size: 10px;
  }
  .product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
    width: 200px;
  }
  .product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
    width: 200px;
  }
  .product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
    width: 200px;
  }
}

@media(max-width: 930px) {
  .product__details {
    min-width: 391px;
  }
}

@media(max-width: 920px) {
  .product__about-inner {
    flex-direction: column;
  }
  .product__bottom-text {
    display: none;
  }
  .product__details {
    min-width: 363px;
  }
  .product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
    width: 180px;
  }
  .product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
    width: 150px;
  }
  .product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
    width: 180px;
  }
}

@media(max-width: 910px) {
  .phone {
    font-size: 14px;
  }
  .info__search {
    width: 230px;
  }
  .categories__list-item {
    margin-right: 20px;
  }
  .categories__list-link {
    font-size: 12px;
  }
  .product__details {
    min-width: 376px;
  }
  .product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
    width: 130px;
  }
  .product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
    width: 130px;
  }
  .product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
    width: 130px;
  }
}

@media(max-width: 900px) {
  .product__details {
    min-width: 356px;
  }
  .product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
    width: 100px;
  }
  .product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
    width: 100px;
  }
  .product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
    width: 100px;
  }
  .offers__slider-item {
    width: 200px;
  }
  .slick-dots {
    margin-right: 50px;
  }
}

@media(max-width: 860px) {
  .product-bottom__details-list-item:nth-child(1) .product-bottom__details-list-item-span::after {
    width: 0;
  }
  .product-bottom__details-list-item:nth-child(2) .product-bottom__details-list-item-span::after {
    width: 0;
  }
  .product-bottom__details-list-item:nth-child(3) .product-bottom__details-list-item-span::after {
    width: 0;
  }
}

@media(max-width: 800px) {
  .info__search {
    width: 150px;
  }
  .product-top__title {
    font-size: 25px;
  }
}

@media(max-width: 880px) {
  .product__details {
    min-width: 306px;
  }
  .product {
    padding: 0 20px;
  }
  .product__about-left {
    width: auto;
  }
  .product__actions {
    padding-left: 0;
  }
}

@media(max-width: 825px) {
  .product__details {
    min-width: 250px;
  }
  .product__details {
    min-width: 295px;
  }
  .product__overview {
    min-width: 408px;
  }
}

@media (max-width: 764px) {
  .icons-right {
    display: none;
  }
  .info__buttons {
    display: flex;
    align-items: center;
  }
  .info__buttons-list-item {
    display: inline-block;
    margin-right: 3px;
  }
  .info__buttons-list-link img {
    display: block;
    margin: 0 auto;
  }
  .menu {
    display: none;
  }
  .header__auth {
    margin-left: auto;
    padding-right: 15px;
  }
  .phone {
    position: absolute;
    top: 10px;
  }
  .categories__list-item {
    margin-right: 10px;
  }
  .product-top__breadcrumbs {
    display: none;
  }
  .product__overview {
    min-width: 360px;
  }
  .product__details {
    min-width: 338px;
  }
  .product {
    margin-bottom: 20px;
  }
  .product__images {
    padding-bottom: 35px;
  }
  .product-bottom__details {
    flex-direction: column;
    align-items: center;
  }
  .product-bottom__details-right {
    margin-top: 30px;
  }
  .product-bottom__details-left {
    width: 160px;
  }
  .product-bottom__buttons-list {
    justify-content: center;
  }
  .slick-dots {
    margin-right: 0px;
  }
}

@media(min-width: 663px) {
  .product__details {
    min-width: 245px;
  }
}

@media (max-width: 666px) {
  .info__social {
    width: 28px;
  }
  .info__search {
    width: 150px;
  }
  .show {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .inner .info__search {
    width: 230px;
  }
  .inner .info__buttons {
    margin: 0 auto 10px auto;
  }
  .inner .info__buttons {
    display: flex;
    margin-top: 20px;
  }
  .inner .info__form {
    display: block;
  }
  .inner>.info__buttons-list {
    margin: 0 auto;
  }
  .inner .info__buttons-list-item {
    margin-right: 20px;
  }
  .inner .info__currency {
    display: block;
    width: auto;
    text-align: center;
    margin-top: 20px;
  }
  .product__inner {
    flex-direction: column;
  }
  .product__about-left {
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  .product__actions-row {
    display: flex;
    justify-content: center;
  }
  .product__color {
    margin: 0 auto;
  }
  .product__size {
    margin: 0 auto;
    padding-left: 15px;
  }
  .product__share-btn {
    display: block;
    margin: 0 auto;
  }
}

@media(max-width: 611px) {
  .info__btn-burger {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 20%;
  }
  .info__btn-burger:hover {
    background: grey;
  }
  .info__btn-burger span:nth-child(1) {
    margin-top: 10px;
  }
  .info__btn-burger span {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    background: lightgray;
    height: 2px;
    width: 15px;
  }
  .info__buttons,
  .info__currency,
  .info__form,
  .info__social {
    display: none;
  }
  .categories {
    display: none;
  }
}

@media (max-width: 590px) {
  .product__share {
    padding: 10px 0;
  }
  .product__share-btn {
    padding-left: 0px;
  }
  .product-bottom__details {
    padding: 36px 0 36px 0;
  }
  .product-bottom__details-right {
    margin-left: 0px;
  }
  .product-bottom__img {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
}

@media(max-width: 420px) {
  .product__images>img {
    max-width: 280px;
  }
  .right-arrow,
  .left-arrow {
    display: none;
  }
  .product__big-img {
    margin: 0 auto;
  }
  .product__overview {
    min-width: 50vw;
  }
  .product__details {
    min-width: 50vw;
  }
  .product__slider-item {
    margin-right: 8px;
  }
  .product__slider-item {
    margin-right: 8px;
    cursor: pointer;
  }
  .product__share {
    padding: 10px 0;
  }
  .product__share-btn {
    padding-left: 0px;
  }
  .product__images>img {
    max-width: 250px;
  }
  .product-bottom__img {
    width: 300px;
  }
  .product-bottom__list-item {
    padding: 10px 11px;
    font-size: 12px;
  }
}